# Python Module Requirements for splunkstorm-webhook.
#
# https://github.com/ampledata/splunkstorm-webhook
#
# Author:: Greg Albrecht <gba@splunk.com>
# Copyright:: Copyright 2012 Splunk, Inc.
# License:: Apache License 2.0.
#


Flask==0.8
simplejson
